{% extends "model-page.html" %}

{% block content %}
    <form  action="submit" method="POST"> {% csrf_token %}



                <div style="margin-top:60px; padding-bottom:30px;" align="center">
                    <label ><h4>Título do Evento</h4></label>
                    <input type="number" name="id_evento" value="{{ evento.id }}" hidden="">
                    <br>
                    <input class="form-control-lg" type="text" name="titulo" size="20" value="{{ evento.titulo }}">
                    <br>
                    <label><h4>Data do Evento</h4></label>
                    <br>
                    <input class="form-control-lg" type="datetime-local" name="data_evento" size="23" value="{{ evento.get_data_input_evento }}">
                    <br>
                    <label><h4>Descrição</h4></label>
                    <br>
                    <textarea class="form-control-lg" name="descricao" rows="5" cols="23">{{ evento.descricao }}</textarea>
                    <br>
                    <button class="btn btn-success" type="submit">Salvar</button>

                    <a href="/"><button type="button" class="btn bg-danger">Cancelar</button></a>
                </div>


    </form>
{% endblock %}