<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Página Inicial</title>
    <!-- Adicione links para folhas de estilo ou scripts aqui, se necessário -->
</head>
<body>

    <header>
        <h1>Bem-vindo à Minha Página Inicial</h1>
    </header>

    <nav>
        <!-- Adicione links de navegação aqui, se necessário -->
    </nav>

    <main>
        <section>
            <h2>Sobre Mim</h2>
            <p>Olá, eu sou [Seu Nome]. Esta é a minha incrível página inicial.</p>
        </section>

        <section>
            <h2>Meus Produtos</h2>
            <ul>
                {%for p in Eventos%}
                <li><a href="#">{{p.Tipo}}</a></li>
                {%endfor%}
                <!-- Adicione mais projetos conforme necessário -->
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 [Carlos]. Todos os direitos reservados.</p>
    </footer>

</body>
</html>